<!--
    author: everyone
    date: 15-05-2019
    last edited: 15-05-2019
    changes:
    15-05-2019     created
-->
@model IEnumerable<BankOfBrabant.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insertion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KVKNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KVKPositive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blacklisted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportCheck)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Insertion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KVKNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KVKPositive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blacklisted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassportCheck)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
