<!--
    author: everyone
    date: 15-05-2019
    last edited: 15-05-2019
    changes:
    15-05-2019     created
-->
@model BankOfBrabant.Models.Products

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoanLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoanLimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentLoan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentLoan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyPayment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyPayment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductType)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
