<!--
    author: everyone
    date: 15-05-2019
    last edited: 15-05-2019
    changes:
    15-05-2019     created
-->
@model BankOfBrabant.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SenderAccountId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenderAccountId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceiverAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceiverAccount.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Euro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Euro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Verified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Verified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
